* {
  color: #009d48;
}
body {
  /* background: radial-gradient(#f1f1f1, #9fa09f); */
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Times New Roman', 'SimSun', serif;
}
p {
  padding: 0;
  margin: 0;
}

mark {
  background-color: #d4d4d4;
}

a:hover {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  cursor: pointer;
}

.navigation {
  z-index: 999;
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

#nav-left {
  left: 30px;
}

#nav-right {
  right: 30px;
}

.iconify {
  width: 50px;
  height: 100px;
}

#text-container {
  display: grid;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text {
  text-align: center;
}

#page {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  outline: solid 2px;
}
